{% extends 'layout/layout.html' %} {% block title %}
Experts_Pending_Approval_Filter {% endblock %} {% block small %}
Experts_Pending_Approval_Filter {% endblock %} {% block content %}
<!-- Default box -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Experts_Filter</h3>

    <div class="card-tools"></div>
  </div>
  <div class="card-body">
    <form
      method="get"
      id="sample_form"
      action="{% url 'mexpertsp' %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="row">
        <div class="form-group col-md-6 col-xs-12">
          <select
            class="form-control select2"
            name="expert"
            id="expert"
            required="true"
            style="width: 100%"
          >
          
            <!-- <option value="0">All_Pending</option> -->
            {% if exp == 0 %}
            <option value="1">Professional</option>
            {% endif %}
            {% if exp == 1 %}
            <option value="2">Fundi</option>
            {% endif %}
            {% if exp == 0 %}
            <option value="3">Contractor</option>
            {% endif %}
            <option value="4">Not-Registered</option>
           
          </select>
        </div>

        <div class="form-group col-md-4 col-xs-12">
          <input
            type="submit"
            name="action_button"
            id="action_button"
            class="btn btn-block btn-primary"
            value="Query"
          />
        </div>
      </div>
    </form>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">Experts_Filter</div>
  <!-- /.card-footer-->
</div>
<!-- /.card -->
{% endblock %}
