{% extends 'layout/layout.html' %}
{% block title %} 
{{ ptitle }} Orders
{% endblock %}

{% block small %} 
{{ ptitle }} Orders
{% endblock %}

{% block content %}
{% load humanize %}
{% load operations_filter %} 
{% load vendor_filter %} 
  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ ptitle }} Orders</h3>

      <div class="card-tools">
       
        

        <div class="modal fade" id="formModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                 
                  <h4 class="modal-title">ADD A NEW TAX</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                              <div class="modal-body">
                     <span id="form_result"></span>
           <form method="post" id="sample_form" enctype="multipart/form-data">        
            {% csrf_token %}
<div class="row">
    <div class="form-group col-md-12 col-xs-12 clearfix">
        <label for="exampleInputEmail1" class="col-md-12 col-xs-12">Action <span style="color:red;">*</span></label>
        <div class="icheck-success d-inline">
          <input type="radio" name="dispatch" class="dispatch" value="1" id="radioSuccess1" required>
          
            <label for="radioSuccess1">
                Dispatch Order (To Customer)
              </label>
          
        </div>
        <div class="icheck-success d-inline">
           
            
          </div>
        <!-- <div class="icheck-success d-inline">
          <input type="radio" name="dispatch" class="dispatch" value="3" id="radioSuccess2" required>
          <label for="radioSuccess2">
              Cancel Order
          </label>
        </div> -->
       
    
                </div>

                <div class="form-group col-md-12 col-xs-12" id="site"  style="display : none;">
                  <label for="exampleInputEmail1">ETA</label>
                  <input type="datetime-local" class="form-control" name="eta" id="eta" placeholder="" onfocus="this.showPicker()" > 
                </div>

                <div class="form-group col-md-12 col-xs-12" >
                    <label for="exampleInputEmail1">Note/Narration</label>
                    <textarea name="narration" id="narration" class="form-control" placeholder="Any comments and/or instructions..." ></textarea>
                  </div>
                 

                  <div class="form-group col-md-12 col-xs-12" id="siteb" style="display : none;">
                    <label for="exampleInputEmail1">Transport</label>
                   <select name="transport" id="transport" class="select2">
                   <option value="0">SELF (By Vendor)</option>


                   </select>
                  </div>
                   <div class="form-group col-md-12 col-xs-12">
                    <input type="hidden" name="action" id="action" />
              <input type="hidden" name="hidden_id" id="hidden_id" />
              <input type="hidden" name="shop" id="shop" />
              <input type="submit" name="action_button" id="action_button" class="btn btn-block btn-warning" value="Add" />
                                    </div>
                  </form>
                </div>
        
                <div class="modal-footer">
                               
              </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->   



      </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="products_table" width="100%" class="table table-striped table-bordered dt-responsive compact nowrap">
                
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Price</th>
                            <th>Customer</th>
                            <th>Vendor</th>
                            <th>Status</th>
                            <th>Actions</th>
                           
                        </tr>
                    </thead>
                    {% for x in  products %}
                    <tr>
                    <td>{{ x.serial|orderid}}</td>
                    <td>{{ x.serial|orderdate|date:'d/m/Y' }}</td>
                    <td>{% itemsfind x.serial x.shop %}  </td>
                    <td> {% vsingletotal x.serial x.shop %} </td>
                    <td>{{ x.serial|customer }}</td>
                    <td> {% fvendors x.serial x.shop %} </td>
                    <td>{% if x.status == 0 %}
                        <span class="btn btn-xs bg-gray">Pending</span>
                                              {% elif x.status == 1 %}
                        <span class="btn btn-xs btn-warning">Dispatched</span>
                        {% elif x.status == 2 %}
                        <span class="btn btn-xs btn-success">Delivered</span>
                        {% elif x.status == 3 %}
                        <span class="btn btn-xs btn-danger">Cancelled</span>
                                            {% endif %}
                    </td>
                    <td><a href="{% url 'vorder_summary' x.serial %}" class="btn btn-xs bg-gray" title="Order Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;{% if x.status == 0 %}<button type="button" name="edit" id="{% vconcat x.serial x.shop %}" class="edit btn btn-xs  btn-primary btn-sm" title="Dispatch"><i class="fa fa-truck"></i></button>{% endif %}</td>
        
                    </tr>
                    {% endfor %}

            </table>


           
        </div>

        <div id="confirmModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                       
                        <h2 class="modal-title">Confirmation</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <div class="modal-body">
                        <h4 align="center" style="margin:0;">Are you sure you want to remove this data?</h4>
                    </div>
                    <div class="modal-footer">
                     <button type="button" name="ok_button" id="ok_button" class="btn btn-danger">OK</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    <script language="javascript">

    $(function () {
    $("#products_table").DataTable({
        
        pageLength: 10,
        lengthChange: true,
        autoWidth: true,
        searching: true,
        
        
     
    });

    
    
    $('#sample_form').on('submit', function(event){
      event.preventDefault();
      $(':input[type="submit"]').prop('disabled', true);
      
     
     if($('#action').val() == "Edit")
      {
       $.ajax({
        url:"{% url 'vupdateorders' %}",
        method:"POST",
        data:new FormData(this),
        contentType: false,
        cache: false,
        processData: false,
        dataType:"json",
        success:function(data)
        {
         var html = '';
         if(data.errors)
                 {
                  $(':input[type="submit"]').prop('disabled', false);
                  html = '<div class="alert alert-danger">';
                  
                   html += '<p>' + data.errors + '</p>';
                  
                  html += '</div>';
                 }
         if(data.success)
         {
          html = '<div class="alert alert-success">' + data.success + '</div>';
          $('#sample_form')[0].reset();
          $('#product').select2().val('').trigger("change");
          $('#status').select2().val('').trigger("change");
          $(':input[type="submit"]').prop('disabled', false);
          $('#products_table').load(' #products_table');
          
         }
         $('#form_result').html(html);
        }
       });
      }
     });
    
     $(document).on('click', '.edit', function(){
      var id = $(this).attr('id');
      $('#form_result').html('');
      $.ajax({
       url:"{% url 'vordersedit' 1 %}".replace('1', id),
       dataType:"json",
       success:function(html){
        $('#hidden_id').val(html.serial);
        $('#shop').val(html.shop);
        $('.modal-title').text("Dispatch Order" );
        $('#action_button').val("Submit");
        $('#action').val("Edit");
        $('#formModal').modal('show');
       }
      })
     });
    
    
     var user_id;

     $(document).on('click', '.dispatch', function(){
      var id = $(this).val();
      if(id == 1) {
     
      $('#site').show();
      $('#eta').attr('required', true);
      $('#siteb').show();
      $('#transport').attr('required', true);
      
      } else {

      $('#site').hide();
      $('#eta').attr('required', false);
      $('#siteb').hide();
      $('#transport').attr('required', false);
      

      }
     
     });
    
    
    
     
   
  });
</script>

    

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        {{ ptitle }} Orders
    </div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
  {% endblock %}