{% extends 'layout/layout.html' %}
{% block title %} 
{{ ptitle }} | {{ duka }}
{% endblock %}

{% block small %} 
{{ ptitle }} 
{% endblock %}

{% block content %}
{% load humanize %}
{% load operations_filter %} 
{% load vendor_filter %} 
  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Range : {{ star }} - {{ en }}</h3>

      <div class="card-tools">
       
        {% if url == 1 %}
        <a href="{% url 'vssfilter' %}" class="btn btn-primary">Back</a>
        {% else %}
        <a href="{% url 'vsvfilter' %}" class="btn btn-primary">Back</a>
        {% endif %}


      </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="products_table" width="100%" class="table table-striped table-bordered dt-responsive compact nowrap">
                
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Customer</th>
                            <th>Vendor</th>
                            <th>Status</th>
                            <th>Price</th>
                           
                           
                        </tr>
                    </thead>
                    {% for x in  products %}
                    <tr>
                    <td>{{ x.serial|orderid}}</td>
                    <td>{{ x.created_at|date:'d/m/Y'}}</td>
                    <td>{{ x.serial|items|safe }}</td>
                   
                    <td>{{ x.serial|customer }}</td>
                    <td>{{ x.vproduct|svendor_find|safe  }}</td>
                    <td>{% if x.status == 0 %}
                        <span class="btn btn-xs bg-gray">Pending</span>
                                              {% elif x.status == 1 %}
                        <span class="btn btn-xs btn-warning">Dispatched</span>
                        {% elif x.status == 2 %}
                        <span class="btn btn-xs btn-success">Delivered</span>
                        {% elif x.status == 3 %}
                        <span class="btn btn-xs btn-danger">Cancelled</span>
                                            {% endif %}
                    </td>
                    <td>{{ x.serial|singletotal|floatformat:2|intcomma}} </td>
        
                    </tr>
                    {% endfor %}

                    <tfoot>

                        <tr>
                            <th>#</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{ count|floatformat:2|intcomma}}</th>
                           
                           
                        </tr>

                        
                    </tfoot>

            </table>



           
        </div>

        <script language="javascript">

            $(function () {
            $("#products_table").DataTable({
                
                pageLength: 10,
                lengthChange: true,
                autoWidth: true,
                searching: true,
                
                
             
            });   
         
        })

        </script>
       




    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        {{ ptitle }} | {{ duka }}
    </div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
  {% endblock %}