{% include 'layouts/header.html' %}
{% load static %}
{% load humanize %}
{% load operations_filter %} 
{% load encode_filter %} 
<div class="breadcrumbs">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="bread-inner">
    <ul class="bread-list">
    <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
    <li class="active"><a href="#">About_Us</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <section class="about-us section">
        <div class="container">
        <div class="row">
        <div class="col-lg-6 col-12">
        <div class="about-img overlay">
        <div class="button">
        <a href="https://www.youtube.com/watch?v=otKfhqVfKg4" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
        </div>
        <img src="{% static 'assets/img/about.jpg' %}" alt="#">
        </div>
        </div>
        <div class="col-lg-6 col-12">
        <div class="about-content">
        <h3>Welcome To <span>JaGedo</span></h3>
        <p>{{ company.about }}</p>
        <div class="button">
        
            <a href="{% url 'product_listings' cat.name|encrypt_id %}" class="btn">Shop Now</a>
            <a href="{% url 'gigs' %}" class="btn primary">Find An Expert</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
        
        
        
        

    


<script>
$(document).ready(function() {
    $('.video-popup').magnificPopup({
        type: 'iframe',
        mainClass: 'mfp-fade',
        removalDelay: 160,
        preloader: false,
        fixedContentPos: false,
        iframe: {
            patterns: {
                youtube: {
                    index: 'youtube.com/',
                    id: 'v=',
                    src: 'https://www.youtube.com/embed/%id%?autoplay=1'
                }
            }
        }
    });
});
</script>









{% include 'layouts/footer.html' %}