{% include 'layouts/header.html' %}
{% load crispy_forms_tags %}

<div class="breadcrumbs">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="bread-inner">
    <ul class="bread-list">
    <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
    <li class="active"><a href="#">Email Sent</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    
    <section class="mail-success section page">
        <div class="container">
        <div class="row">
        <div class="col-lg-6 offset-lg-3 col-12">
        <div class="mail-inner">
        <i class="fal fa-envelope-open-text"></i>
        <h2><span>Mail Sent</span> Successfully</h2>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <div class="button">
        <a class="btn primary" href="/">Go Home</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
    
    

{% include 'layouts/footer.html' %}