<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Email Verification</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
  </head>

  <body style="background-color: #ffffff; font-size: 16px;">
    <center>
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
          <!-- BEGIN EMAIL -->
          <tr>
            <td align="center" bgcolor="#ffffff" style="padding:30px">
               <p style="text-align:left">Dear {{ uname }},<br><br> You are receiving this email because your account, {{ email }} on {{ site_name }} has been deactivated.
              </p>
             
              <p style="text-align:left">Should you wish to reactivate you account kindly submit your request to the 
                <br><br>{{ site_name }} Support Team, for review. Kindly include the phone number you used during registration in your request.</p>
              <p style="text-align:left">
              Sincerely,<br>{{ site_name }} Team
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>