{% include 'layouts/header.html' %}
{% load crispy_forms_tags %}

<div class="breadcrumbs">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="bread-inner">
    <ul class="bread-list">
    <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
    <li class="active"><a href="#">Forgot Password</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <section class="shop login section">
    <div class="container">
    <div class="row">
    <div class="col-lg-5 mx-auto">
    <div class="login-form">
    <h2>Reset Password</h2>
    {% if form %}
    <p>Enter New Password</p>
    
    <form class="form" method="post" >
        {% csrf_token %}
        {{ form|crispy }} 
    <div class="col-12">
    <div class="form-group login-btn">
    <button class="btn" type="submit">Reset password</button>
    </div>
    </div>
    </div>
    </form>
    {% else %} 
    <h2>Link Expired</h2>

    {% endif %} 
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    

{% include 'layouts/footer.html' %}