{% include 'layouts/header.html' %}
{% load crispy_forms_tags %}

<div class="breadcrumbs">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="bread-inner">
    <ul class="bread-list">
    <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
    <li class="active"><a href="#">Forgot Password</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <section class="shop login section">
    <div class="container">
    <div class="row">
    <div class="col-lg-5 mx-auto">
    <div class="login-form">
    <h2>Reset Password</h2>
    <p>Enter valid email</p>
    {% if error %}
    <div class="alert alert-danger alert-dismissible" > 
        <b>Alert!</b> <b>{{ error }}</b></div>
    {% endif %}
    
    <form class="form" method="post"  action="{% url 'password_reset_sub' %}" onsubmit="document.getElementById('myButton').disabled=true;
    document.getElementById('myButton').innerHTML='Submitting, please wait...';">
        {% csrf_token %}
        {{ password_reset_form|crispy }} 
    <div class="col-12">
    <div class="form-group login-btn">
    <button class="btn" id="myButton" type="submit">Send Reset Link</button>
    </div>
    </div>
    
    
    
    </div>
    </form>
    
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    

{% include 'layouts/footer.html' %}